Package: idea-craft
Version: 0.0.2-10
Section: games
Priority: optional
Architecture: amd64
Depends: libqt5widgets5, libc6
Maintainer: Dr. Sasha <dr.sasha@idea-craft.space>
Description: Launcher for iDeA-Craft server
 Launcher for minecraft server
