[Desktop Entry]
Name=iDeA-Craft Launcher
Type=Application
Comment=Launcher for iDeA-Craft server 
Version=0.0.2-10
Exec=idea-craft
Icon=idea-craft
Path=/opt/idea-craft/
Categories=Game;Qt;
Terminal=false
