[Desktop Entry]
Name=iDeA-Craft Launcher
Type=Application
Comment=Launcher for iDeA-Craft server 
Exec=/usr/games/idea-craft
Icon=idea-craft
Categories=Game;Qt;
Terminal=false
